// Colours
$dark-cyan: hsl(185, 75%, 39%);
$black-blue: hsl(229, 23%, 23%);
$grey-blue: hsl(227, 10%, 46%);
$grey-dark: hsl(0, 0%, 59%);

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.125rem;
}
